@import './fonts';
@import './vars';

//cleansing
*{ padding: 0; margin: 0; border: 0; }
*,*:before,*::after{  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;}
:focus,:active{outline: none;}
a:footer,header,aside{display: block;}
html,body{  height: 100%;  width: 100%;  font-size: 100%;  line-height: 1;  font-size: 14px;  -ms-text-size-adjust: 100%;  -moz-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

// variables
$PadVW: 9.38vw;


// Common style
body {
  background-color: rgba(255, 255, 255, 1);
  color: #373737;
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Work Sans";
  font-style: normal;
}

// block Header
.header {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 0 $PadVW;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  z-index: 100;
}
.headerLogo{
  display: inline-block;
  margin: 0 4.03vw 0 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-Orange {
    color: #FF5300;
  }
  &-Black {
    color: #373737;
  }
}
.headerLink{
  display: inline-block;
  margin: 0 1.67vw;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  text-align: center;
  color: #373737;
}
.headerLinkStyle{
  margin: 0 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  background-image: url(../../assets/images/m-icon-dark-sun.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.headerBurger{
  display: none;
}

//Right Soc-slinks
.RightSoclinks{
  z-index: 5;
  position: fixed;
  top: calc(50vh - 88px);
  right: 0;
  width: 40px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & a{
    display: block;
    width: 40px;
    height: 40px;
  }
  &-Fb{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Inst{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Twit{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Skype{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-skype.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
}

// buttoncontact us
.linkbutton-contactus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background: #FF5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #FFFFFF;
}

// section top
.hSectionTop{
  position: relative;
  width: 100%;
  height: 835px;
  padding: 100px $PadVW 0px $PadVW;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF7F4;
  &-content{
    height: 355px;
    width: 34.4vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &-Tytle{
      font-family: "Work Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 123.6%;
      text-transform: capitalize;
      &-Black{
        color: #373737;
      }
      &-Orange{
        color: #FF5300;
      }
    }
    &-text{
      font-family: "Work Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150.6%;
      color: #7B7B7B;
    }
  }
  &-img{
    position: relative;
    height: 30vw;
    width: 45vw;
    background-image: url(../../assets/images/m-people-diagrams-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto auto;
    margin: 0 0 0 2.43vw;
  }
}

//section About Us
.hAboutus{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 935px;
  padding: 120px $PadVW;
  &-minititle{
    text-align: center;
    order: 1;
    width: 100%;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: #7B7B7B;
  }
  &-mid{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    &-img{
      order: 2;
      display: block;
      width: 50%;
      height: 100%;
      background-image: url(../../assets/images/m-people-table-2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    &-content{
      order: 3;
      width: 50%;
      height:auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 25px 0 60px 0;
      &-title{
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 39.06px;
        line-height: 123.6%;
        &-black{
          color: #373737;
        }
        &-orange{
          color: #FF5300;
        }
      }
      &-text {
        width: 100%;
        height: auto;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150.6%;
        color: #7B7B7B;
      }
    }
  }
  &-bot{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-block{
      height: 200px;
      width: 18.75vw;
      background: #FFFFFF;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      &-img{
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 35px;
      }
      &-img1{
        background: #FF5300;
        box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
        background-image: url(../../assets/images/m-icon-white-file.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-img2{
        background: #7B7B7B;
        box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
        background-image: url(../../assets/images/m-icon-white-code.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-img3{
        background: #00ACFF;
        box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
        background-image: url(../../assets/images/m-icon-white-gear.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-img4{
        background: #373737;
        box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
        background-image: url(../../assets/images/m-icon-white-link.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-text{
        width: 100%;
        height: auto;
        margin: 36px 0 0 0;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150.6%;
        text-align: center;
        color: #373737;
      }
    }
  }
}

// section expereince
.hExpereince{
  position: relative;
  width: 100%;
  height: 673px;
  padding: 60px $PadVW;
  background: #FFF7F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    &-minititle{
      width: 100%;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150.6%;
      color: #7B7B7B;
    }
    &-title{
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 39.06px;
      line-height: 123.6%;
      &-black{
        color: #373737;
      }
      &-orange{
        color: #FF5300;
      }
    }
    &-text {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150.6%;
      color: #7B7B7B;
    }
  }
  &-blocks{
    margin: 0 0 0 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &-left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 0 23px 0;
    }
    &-right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      margin: 0 0 0 auto;
      padding: 23px 0 0 0;
    }
    &-block{
      width: 18.75vw;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      padding: 74px 40px;
      &-sum{
        margin: 0 0 18px 0;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 123.6%;
        text-transform: capitalize;
        color: #373737;
        text-align: center;
      }
      &-text{
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 123.6%;
        color: #7B7B7B;
        text-align: center;
      }
    }
  }
}


// block footer
.footer{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

// block footer top
.footerTop{
  position: relative;
  width: 100%;
  height: 360px;
  padding: 66px $PadVW 60px $PadVW;
  background: #373737;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footerBlocks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 235px;
  width: 18.4vw;
  &-Title {
    display: flex;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    text-align: center;
    color: #FFFFFF;
    &-Orange {
      color: #FF5300;
    }
    &-White {
      color: #FFFFFF;
    }
  }
  &-filling {
    display: block;
    width: 100%;
    height: auto;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: #FFFFFF;
  }
  &-Link {
    display: block;
    width: 100%;
    height: auto;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    color: #FFFFFF;
  }
}

.footerSoc{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  &-Link {
    display: block;
    width: 40px;
    height: 40px;
    z-index: 5;
  }
  &-Fb {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-fb.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Inst {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-instagram.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Twit {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-twitter.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Skype {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/images/m-icon-orange-skype.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: #FF5300;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
}
.footerForm{
  width: 100%;
  height: 60px;
  border: 1px solid #FF5300;
  box-sizing: border-box;
  display: flex;
  &-Input{
    width: 100%;
    height: 100%;
    background: #373737;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    text-align: left;
    padding: 0 18px;
    color: #7B7B7B;
  }
  &-Button{
    width: 81px;
    height: 100%;
    background: #FF5300;
    background-image: url(../../assets/images/m-icon-white-send.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }
}

// block footer bot
.footerBot{
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 $PadVW;
  background: #FF5300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerCopyright{
  position: relative;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #FFFFFF;
  margin: 0 0 0 40px;
  &::before{
    content: "©";
    position: absolute;
    margin: 0 0px 0 -40px;
    width: 20px;
    height: 20px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
  }
}

.FooterArrow{
  width: 50px;
  height: 50px;
  background: #FF5300;
  background-image: url(../../assets/images/m-arrow-up-white.svg);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
}

@import './media';
