@import './fonts';
@import './vars';

//cleansing
*{ padding: 0; margin: 0; border: 0; }
*,*:before,*::after{  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;}
:focus,:active{outline: none;}
a:footer,header,aside{display: block;}
html,body{  height: 100%;  width: 100%;  font-size: 100%;  line-height: 1;  font-size: 14px;  -ms-text-size-adjust: 100%;  -moz-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


// Common style
body {
  background-color: $white;
  color: $darkgray;
  position: relative;
  width: 100%;
  height: auto;
  //font
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: $lightgrey;
}

// Title-h3
.Title3{
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  &-black{
    color: $darkgray;
  }
  &-orange{
    color: $orange;
  }
}

// block Header
.header {
  width: 100%;
  height: 100px;
  background: $white;
  box-shadow: $shadowdark;
  padding: 0 $PadDeskVW;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  z-index: 100;
}
.headerLogo{
  display: inline-block;
  margin: 0 4.03vw 0 0;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &-Orange {
    color: $orange;
  }
  &-Black {
    color: $darkgray;
  }
}
.headerLink{
  display: inline-block;
  margin: 0 1.67vw;
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  text-align: center;
  color: $darkgray;
}
.headerLinkStyle{
  margin: 0 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  background: $white;
  background-image: url(../../assets/images/m-icon-dark-sun.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.headerBurger{
  display: none;
}

//Right Soc-slinks
.RightSoclinks{
  z-index: 5;
  position: fixed;
  top: calc(50vh - 88px);
  right: 0;
  width: 40px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & a{
    display: block;
    width: 40px;
    height: 40px;
  }
  &-Fb{
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Inst{
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Twit{
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Skype{
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-skype.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
}

// buttoncontact us
.linkbutton-contactus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background: $orange;
  box-shadow: $shadowdark;
  border-radius: 5px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: $white;
}

// section top
.hSectionTop{
  position: relative;
  width: 100%;
  height: 835px;
  padding: 100px $PadDeskVW 0px $PadDeskVW;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $peach;
  &-content{
    height: 355px;
    width: 34.4vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &-Tytle{
      font-family: $font-main;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 123.6%;
      text-transform: capitalize;
      &-Black{
        color: $darkgray;
      }
      &-Orange{
        color: $orange;
      }
    }
  }
  &-img{
    position: relative;
    height: 30vw;
    width: 45vw;
    background-image: url(../../assets/images/m-people-diagrams-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto auto;
    margin: 0 0 0 2.43vw;
  }
}

//section About Us
.hAboutus{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 935px;
  padding: 120px $PadDeskVW;
  &-minititle{
    text-align: center;
    order: 1;
    width: 100%;
  }
  &-mid{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    &-img{
      order: 2;
      display: block;
      width: 50%;
      height: 100%;
      background-image: url(../../assets/images/m-people-table-2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    &-content{
      order: 3;
      width: 50%;
      height:auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 25px 0 60px 0;
      &-text {
        width: 100%;
        height: auto;
      }
    }
  }
  &-bot{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-block{
      height: 200px;
      width: 18.75vw;
      background: $white;
      box-shadow: $shadowdark;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      &-img{
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 35px;
      }
      &-img1{
        background: $orange;
        box-shadow: $shadoworange;
        background-image: url(../../assets/images/m-icon-white-file.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-img2{
        background: $lightgrey;
        box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
        background-image: url(../../assets/images/m-icon-white-code.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-img3{
        background: #00ACFF;
        box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
        background-image: url(../../assets/images/m-icon-white-gear.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-img4{
        background: $darkgray;
        box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
        background-image: url(../../assets/images/m-icon-white-link.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      &-text{
        width: 100%;
        height: auto;
        margin: 36px 0 0 0;
        text-align: center;
      }
    }
  }
}

// section expereince
.hExpereince{
  position: relative;
  width: 100%;
  height: 673px;
  padding: 60px $PadDeskVW;
  background: $peach;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    &-minititle{
      width: 100%;
    }
  }
  &-blocks{
    margin: 0 0 0 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &-left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 0 23px 0;
    }
    &-right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      margin: 0 0 0 auto;
      padding: 23px 0 0 0;
    }
    &-block{
      width: 18.75vw;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $white;
      box-shadow: $shadowdark;
      padding: 74px 40px;
      &-sum{
        margin: 0 0 18px 0;
        font-family: $font-main;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 123.6%;
        text-transform: capitalize;
        color: $darkgray;
        text-align: center;
      }
      &-text{
        font-family: $font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 123.6%;
        color: $lightgrey;
        text-align: center;
      }
    }
  }
}

// section Team Member
.hTeam{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px $PadDeskVW 0 $PadDeskVW;
  &-minititle{
    width: 100%;
    height: auto;
    text-align: center;
  }
  &-title{
    margin: 25px 0 0 0;
    width: 450px;
    height: auto;
    text-align: center;
  }
  &-blocks{
    width: 100%;
    height: 100%;
    margin: 60px 0 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
   &-block{
      width: 18.75vw;
      height: calc(17.36vw + 100px);
      display: flex;
      flex-direction: column;
      background: $white;
      box-shadow: $shadowdark;
      &-photoblock{
        width: 18.75vw;
        height: 17.36vw;
        &-soc{
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 0.5s;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          &-links {
            z-index: 5;
            position: relative;
            width: 40px;
            height: 175px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & a{
              display: block;
              width: 40px;
              height: 40px;
            }
          }
          &:hover{
            opacity: 1;
          }
        }
      }
      &-photo1{
        background-image: url(../../assets/images/m-worker-1@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-photo2{
        background-image: url(../../assets/images/m-worker-2@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-photo3{
        background-image: url(../../assets/images/m-worker-3@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-photo4{
        background-image: url(../../assets/images/m-worker-4@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      &-content{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-name{
          font-family: $font-main;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 123.6%;
          color: #000000;
          text-align: center;
        }
        &-description{
          text-align: center;
        }
      }
    }
  }
}

// section Our Work
.h-work{
  width: 100%;
  height: auto;
  padding: 120px $PadDeskVW;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-minititle{
    text-align: center;
  }
  &-title{
    margin: 25px 0 0 0;
    text-align: center;
  }
  &-links{
    margin: 25px 0 0 0;
    display: flex;
    justify-content: center;
    &-link{
      display: inline-block;
      margin: 0 1.49vw;
      font-weight: 500;
      font-size: 20px;
      line-height: 123.6%;
      transition: color 0.3s;
      &:hover{
        color: $orange;
      }
    }
    &-link1{
      color: $orange;
    }
  }
  &-pictures{
    margin: 60px 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-column {
      height: 60.42vw;
      width: 25.69vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-lefttop{
      width: 25.69vw;
      height: 25.69vw;
      background-image: url(../../assets/images/m-project-light-1@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    }
    &-leftbot{
      width: 25.69vw;
      height: 32.64vw;
      background-image: url(../../assets/images/m-project-light-4@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    }
    &-midtop{
      width: 25.69vw;
      height: 32.64vw;
      background-image: url(../../assets/images/m-project-light-2@2x-1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    }
    &-midbot{
      width: 25.69vw;
      height: 25.69vw;
      background-image: url(../../assets/images/m-project-light-5@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    }
    &-righttop{
      width: 25.69vw;
      height: 25.69vw;
      background-image: url(../../assets/images/m-project-light-3@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    }
    &-rightbot{
      width: 25.69vw;
      height: 32.64vw;
      background-image: url(../../assets/images/m-project-light-6@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
    }
  }
}

// block footer
.footer{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

// block footer top
.footerTop{
  position: relative;
  width: 100%;
  height: 360px;
  padding: 66px $PadDeskVW 60px $PadDeskVW;
  background: $darkgray;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footerBlocks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 235px;
  width: 18.4vw;
  &-Title {
    display: flex;
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    text-align: center;
    color: $white;
    &-Orange {
      color: $orange;
    }
    &-White {
      color: $white;
    }
  }
  &-filling {
    display: block;
    width: 100%;
    height: auto;
    color: $white;
  }
  &-Link {
    display: block;
    width: 100%;
    height: auto;
    color: $white;
  }
}

.footerSoc{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  &-Link {
    display: block;
    width: 40px;
    height: 40px;
    z-index: 5;
  }
  &-Fb {
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-fb.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Inst {
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-instagram.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Twit {
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-twitter.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
  &-Skype {
    background: $white;
    box-shadow: $shadowdark;
    background-image: url(../../assets/images/m-icon-orange-skype.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: background 0.3s, box-shadow 0.3s, background-image 0.3s;
    &:hover{
      background: $orange;
      box-shadow: $shadoworange;
      background-image: url(../../assets/images/m-icon-white-fb.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  }
}
.footerForm{
  width: 100%;
  height: 60px;
  border: 1px solid $orange;
  box-sizing: border-box;
  display: flex;
  &-Input{
    width: 100%;
    height: 100%;
    background: $darkgray;
    text-align: left;
    padding: 0 18px;
  }
  &-Button{
    width: 81px;
    height: 100%;
    background: $orange;
    background-image: url(../../assets/images/m-icon-white-send.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }
}

// block footer bot
.footerBot{
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 $PadDeskVW;
  background: $orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerCopyright{
  position: relative;
  color: $white;
  margin: 0 0 0 40px;
  &::before{
    content: "©";
    position: absolute;
    margin: 0 0px 0 -40px;
    width: 20px;
    height: 20px;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
  }
}

.FooterArrow{
  width: 50px;
  height: 50px;
  background: $orange;
  background-image: url(../../assets/images/m-arrow-up-white.svg);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
}

@import './media';
